<div>
    <figure class="profile-card">
        <div class="profile-card_image-wrapper">
            <img class="profile-card_image" src="https://wiki.itechart-group.com/img/2017/Serge_Kovalenko.jpg">
        </div>
        <figcaption class="progile-card_sign">
            <dl class="user-info">
                <dt class="user-info_field user-info_field--primary">Name</dt>
                <dd class="user-info_field-value user-info_field-value--primary">Sergei Kovalenko</dd>
                <dt class="user-info_field">Position</dt>
                <dd class="user-info_field-value">Chief Executive Officer and President</dd>
            </dl>
        </figcaption>
    </figure>
</div>